.btn {
	font-family: 'Arial';
	text-align: center;
	/* background-color: #eff2f3; */
	color: rgb(247, 246, 249);
	padding: 7px;
	display: inline-block;
	border-radius: 20px;
	margin: 0px 4px;
	background-image: url('https://wallpaperaccess.com/full/340452.png');
}
