.sctn {
	font-family: 'Impact';
	text-align: center;
	color: #eff2f3;

	padding: 10px;
}

.title {
	font-family: 'Impact';
	text-align: center;
}

.desc {
	font-family: 'Impact';
	text-align: center;
}
