body {
	/* background-image: url('https://stocksnap.io/img/inline-feature-bg.jpg?1496102021'); */
	background-image: url('https://wallpapercave.com/wp/wp2665743.jpg');
	min-height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
